body {
  margin: 0;
  background-color: #f3f3f3;
  font-family: "Inter", sans-serif;
}
.productDetails-Nav {
  background-color: white;
  width: 100%;
}
.pay-Day-Sale {
  width: 100%;
}
.pay-Day-Sale img {
  width: 100%;
  object-fit: cover;
}
.product-Container {
  width: 80%;
  height: 400px;
  margin: 10px auto auto auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-Container > section {
  height: 100%;
}
/* diffImages-Section */
.diffImages-Section {
  border-right: 1px solid #e7e8ea;
  width: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.diffImages-Section > img {
  /* border: 1px solid; */
  width: 90%;
  height: 70%;
  object-fit: contain;
}
.details-AddToBag-section {
  width: 60%;
}
.details-AddToBag-section h3,
h4 {
  margin: 0;
  font-weight: 500;
}
.details-AddToBag-section h3 {
  margin-top: 20px;
}
#firstRating-div-P {
  margin-top: 20px;
}
.details-AddToBag-section > p {
  margin-top: 8px;
  font-size: 14px;
}
.MrpPtag {
  margin-bottom: 0;
  color: #5f7388;
}
.previousMRP {
  text-decoration-line: line-through;
}
.inclusive-taxes {
  margin: 0;
  color: #5f7388;
}
.price {
  color: #001347;
  font-weight: bolder;
}
.details-AddToBag-section button {
  display: block;
  margin: auto;
  margin-top: 120px;
  width: 50%;
  padding: 14px;
  border: none;
  color: white;
  background-color: #e80071;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 3px;
}
.details-AddToBag-section button:hover {
  transform: scale(0.98);
  transition: 0.15s;
}
.details-AddToBag-section button:active {
  transform: scale(0.95);
  background-color: #eb2585;
  transition: 0.15s;
}
@media screen and (max-width: 897px) {
  .product-Container {
    width: 100%;
  }
}
@media screen and (max-width: 605px) {
  .product-Container {
    flex-direction: column;
    height: auto;
    gap: 40px;
  }
  .product-Container > section {
    width: 100%;
  }
  .details-AddToBag-section {
    text-align: center;
  }
  .details-AddToBag-section button {
    margin-top: 20px;
  }
  .diffImages-Section > img {
    width:60%;
    height: 70%;
    object-fit: contain;
  }
}
